body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    background: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.main-header{
    background: #999 ;
    float:left;
    clear:both;
    width:100%;
    /*border-bottom: 3px solid #45ada8;*/
    margin-bottom: 30px;
    padding-top: 35px;
}

.main-header .container-logoinput{
   display: inline-block;
}

/* Top Menu */

.menu-top {
    position: absolute;
    background-color: #000;
    top: 0;
    right: 20%;
}

.menu-top .container-top {
    margin-left: -12%;
}

.menu-top .container-top .item {
    float:left;
    list-style: none;  
    margin: 6px;
}

.menu-top .container-top .item a{
    text-decoration: none;
    color: #fff;
}

/* Logo + search */

.main-header .container-img {
    display: block;
    margin: 0 auto;
    text-align: left;
}

.main-header .container-img img{
    width: 400px;
    height: 200px;
    border: 3px solid #000;
}

.main-header .container-input {
    display: inline-block;
    vertical-align: top;
    padding-top: 6%;
}

.main-header .container-input #container-resultado {
    margin-left: 27px;
    width: 43%    ;
    font-size: 15px;
    padding: 10px;
    border: 3px solid #000;
    background: white;
}

.main-header .container-input #container-resultado p{
    display: inline;
}
.main-header .container-logo {
    display: inline-block;
}

.main-header .container-logoinput {
    margin-left: 10%;
    padding-bottom: 3%;
}

.main-header .container-input input {
    border:4px solid #000;
    margin-left: 10%;
    width: 200%;
    font-size: 20px;
    padding: 10px;
}

/* 2nd menu */

.menu {
    background: #000;
    width: 100%;
    float: left;
    clear: both;
    padding: none;
}

.menu .container-item {
    padding: 0 70px;
    margin: 0 4% 0 4%;
    list-style: none;
}

.menu .container-item .item {
    float: left;
    width: calc(100%/9);
    text-align: center;
    padding: 15px 0 15px 0;
}

.menu .container-item .item a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

/* Sections */

.content {
    float: left;
    width:100%;
    padding: 10px 0 10px 10%;  
}

.content .main-deal {
    display: inline-block;
    width:100%;

    
}

/* Oferta principal */

.content .main-deal .container-dealimg {
    /*display: inline-block;*/    
    width:400px;
    margin-left:30%;
}



.slick-prev {
    margin-left: 40px; z-index:3; 
    background-color: black;
  }
  
  .slick-next {
    margin-right: 40px; z-index:3; 
    background-color: black;
  }

.content .main-deal .container-dealdescription {
    display: inline-block;
    width:0%;
    padding: 2%;
    vertical-align: top;
}


.content .main-deal .container-dealimg .dealimg img{
    width: 100%;
    height: 350px;
    border: 2px solid #000;
    
}

.content .main-deal .container-dealdescription .deal-name {
    padding: 0 0 10px 0;
}

.deal-name span {
    font-size: 40px;
    font-weight: bold;
}

.content .main-deal .container-dealdescription .deal-name {
    padding: 0 0 10px 0;
}

.deal-description span {
    font-size: 15px;
}

.deal-more span{
    font-size: 20px;
}

.deal-more a {
    text-decoration: none;
    color:#000;
}



/* Novidades/Populares */ 

.main-arrivals {
    clear:both;
    padding: 3% 10% 3% 0;
}

.main-title h2 {
    padding: 10px 20px 20px 0;
    font-size: 30px;
    font-weight: 200;
}

.main-prodlist {
     display: inline-block;
     width: 33%;
     text-align: center;
}

.main-prodlist .arrival-description {
    padding-top: 10px;
}

 .main-prodlist .arrival-description h3 {
    font-weight: 900;
    font-size: 20px;
}


.main-prodlist .arrival-description p {
    padding:5px;
    font-size: 15px;
}


.main-popular {
    clear:both;
    padding: 3% 10% 3% 0;
}

/* Footer */

.main-footer .main-bottom {
    clear:both;
    float: left;
    width: 100%;
    
    background: #999;
    margin-top: 40px;
}

.main-footer .main-rights {
    clear:both;
    background:#000;   
    padding: 10px; 
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.main-footer .menu-column {
    display: inline-block;
    vertical-align: top;
    padding: 2% 0 0 7%;
}

.main-footer .menu-column ul {
    list-style: none;
}
.main-footer .menu-column ul li {
    margin: 0 0 20px 0;
    color: #fff;
}

.main-footer .menu-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.main-footer .menu-column .menu-title {
    font-size: 30px;
}

.main-footer .menu-column ul li a img {
    width: 50px;
    height: 50px;
    clear:both;
    float:left;
}

.main-footer .menu-column ul li input {
    border:4px solid #000;
    font-size: 20px;
    padding: 10px;
    width: 130%;
}

.main-footer .menu-column .main-follow {
    padding: 0 10px 0 10px; 
}

.main-footer .menu-column .main-follow li {

    padding: 0 10px 0 10px;
    float:left;
}